/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
   
    Author     : amara
*/

/* Cantainer de lapage  */
.cantainer  {
    margin-top: 0px;
    margin-left:auto; 
    margin-right:auto; 
    width:100%; 
}
b, strong {
    font-weight: 700;
}
.labelmapcmd{
    width:100% ; heigh: 32px ;  padding:7px; font-size:16spx; font-weight:600
}
.mdboostrap {
    padding-right: 0px !important;
    padding-left: 25px !important;
    padding-top: 9px !important;
}
.thumbnail img{    width: 100%;}
/* Mise en forme du menu */


.navbar-default {
    float: left;
    width: 100%;
    border: none;
    background: #2e2e2e;
    color: #a0a0a0;
}
.navbar {
    min-height: 40px;
    font-weight: 400;
    padding: 0 !important;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0px;
}
.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.top-bar-phone {
    width: 100%;
    height: auto;
    background-color: #000 !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.social-network a {
    display: inline-block;
    color: #b6b6b6;
    margin: 0 2px 5px 2px;
}

.collapse:not(.show) {
   display: -webkit-inline-box !important;
   margin-top: -52px !important;
}
.navbar-default .collapse {
    float: right;
    margin: 0 ;
    padding: 0;
    border: none;
}

.navbar-nav {
    display: -webkit-inline-box !important;
    flex-direction: column;
    padding-left: 0;
    margin: 15px !important;
    list-style: none;
	padding-bottom: 15px;
	
}
ul#menu-menu {
    margin-left: 200px !important;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ul {
    padding-left: 15px;
}
.navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
    display: table;
    content: " ";
}
.nav>li {
    position: relative;
    display: block;
}
#meminz_submit, #meminz_submit:hover, #meminz_submit:focus, #meminz_submit:active, #meminz_submit.active, .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.selected, .navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .dropdown.active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .dropdown.active a:hover, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .dropdown.active a:focus, .subscribe-button, .testimoni-avatar:hover, .icon-counter:hover, .form-control:focus, ul.listForm li .form-control:focus, .navbar-default .navbar-toggle:hover, .pe-feature, .accordion-heading a i, .accordion-heading a:hover, .wpb_accordion_header a i, .wpb_accordion_header a:hover, .tagcloud a:hover, .meminz_main-nav > li.current-menu-parent > a, .meminz_main-nav > .open > a.dropdown-toggle, .meminz_main-nav > .open > a.dropdown-toggle:hover, .meminz_main-nav > .open > a.dropdown-toggle:focus {
    border-color: #a0ce4e;
}
a, a:focus, a:hover, a:active, .navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.selected, .navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .dropdown.active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .dropdown.active a:hover, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .dropdown.active a:focus, .icon-counter:hover, .social-network a:hover, .social-network a:focus, .social-network a:active, .pe-feature, .accordion-heading a:hover i, .wpb_accordion_header a:hover i, .counter-number, .pricing-head.popular .pricing-price, .validation, .widget_nav_menu > div > ul li a:hover, .widget_rss > ul li a:hover, .widget_recent_comments > ul li a:hover, .widget_recent_entries > ul li a:hover, .widget_meta > ul li a:hover, .widget_archive > ul li a:hover, .widget_pages > ul li a:hover, .widget_categories > ul li a:hover, .recent li h6 a:hover, .pagination > li > a, .pagination > li > a:hover, .media h4.media-heading a:hover, .wpt-tabs > li > a, .wpt-tabs > li > a:hover, .wpt_widget_content .tab-content li a:hover, .meminz_main-nav > li.current-menu-parent > a, .meminz_main-nav > .open > a.dropdown-toggle, .meminz_main-nav > .open > a.dropdown-toggle:hover, .meminz_main-nav > .open > a.dropdown-toggle:focus {
    color: #a0ce4e;
	
}

.active a, .current-menu-item a, .current_page_item a {
	background:#e7e7e7 !important;
	color:#000 !important;
	font-weight:600 !important;
}
ul#menu-menu .active {
    width: auto !important;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a.selected, .navbar-default .navbar-nav .active a, .navbar-default .navbar-nav .dropdown.active a, .navbar-default .navbar-nav .active a:hover, .navbar-default .navbar-nav .dropdown.active a:hover, .navbar-default .navbar-nav .active a:focus, .navbar-default .navbar-nav .dropdown.active a:focus {
    background: #93bf32;
    border: none;
    border-top: 2px solid #93bf32;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #a0ce4e;
    background-color: transparent;
}
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #b6b6b6 !important;
    padding: 30px 10px 30px 10px;
    margin: 0;
    border-top: 2px solid #2e2e2e;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #eee;
}

.navbar-right {
    float: right;
    margin-left: 5px;
    padding: 25px 0 20px 0;
	display: contents;
}
.navbar-right a {
    margin-left: 5px;
}
.btn-bordered {
    color: #fff;
    background: none;
    border: 1px solid #fff;
}
.btn {
    display: inline-block;
    padding: 10px 25px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    background-color: #fff;
    color: #444444;
    border: 1px solid transparent;
    border-radius: 3px;
    text-transform: uppercase;
}
.btn-primary{
    color: #fff !important;
    background-color: #93bf32 !important;
    border-color: #fff !important;
	padding: 7px 10px !important;
	
}
.btn-primary:hover{
	background-color: #556f1d !important;
}
.btn-bordered{
    color: #fff !important;
    background-color: transparent !important;
    border-color: #fff !important;
	padding: 7px 10px !important;
	
}
.btn-bordered:hover{
	color: #93bf32 !important;
	background:#fff;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #fff !important;
    text-decoration: none;
    background-color: #93bf32 !important;
}
.dropdown-menu.show a {
    margin-left: 0px !important;
}
/*header-breadcrumb*/
.page-header-breadcrumb {
    background: #f9f9f9;
    margin: 0;
    padding: 3px 0 0 0;
    border-bottom: 1px solid #eaeaea;
}
.breadcrumb {
    padding: 0;
    margin: 33px 0 20px 0 !important;
    list-style: none;
    list-style-type: none;
    list-style-position: initial;
    list-style-image: initial;
    background: none !important;
    border-radius: 0;
}
ul.breadcrumb >li {
    margin-left: 5px;
    margin-right: 5px;
}
i.fas.fa-home {
    color: #93bf32;
}
.sepbreadcrumb{ color:#c3c3c3;}
.page-header-img .container{
    background: url(https://endev.ipixelw.com/distritrack/asset/img/demande-de-devis.jpg) 0px 121px;
    height: 349px;
    background-repeat: no-repeat;
}

/*  Mise en forme du corps de la page  */

.row-container {
    width: 100%; 
    margin-left: 0%;
}
/**********************css footer*****************/


footer {
    margin-top: 150px ;
    text-align: left;
    background: #2e2e2e !important;
    color: #b6b6b6 ;
    font-size: 14px ;
    line-height: 18px;
    font-weight: 300;
    padding-top: 30px;
}
footer a {
    color: #b6b6b6;
}
 footer a:hover, footer a:active{
    color: #a0ce4e;
	text-decoration:none;
}
footer h4 small {
    font-size: 64%;
    font-weight: 700;
    color: #b6b6b6;
}
footer ul {
    list-style: none;
	padding-left: 0px !important;
}
footer .container p {
    text-align: left;
    font-size: 15px;
    line-height: 26px;
}
 footer hr{   border-top: 1px solid rgba(255,255,255,.1);}
 
 footer .menufooter a {
    line-height: 25px;
}
.fa-facebook-f:before, .fa-facebook:before {
    content: "\f09a";
}
.fa-instagram:before {
    content: "\f16d";
}
.fa-youtube:before {
    content: "\f167";
}
.fab {
    font-family: "Font Awesome 5 Brands";
    font-size: 20px;
    margin-top: 15px;
    letter-spacing: 10px;
}

/* Mode repensive   */
@media (min-width: 1200px){
.container {
    width: 1170px;
}
.navbar-default .navbar-nav li a, .navbar-default .navbar-nav li a:focus {
    font-size: 14px;
    line-height: 18px;
    padding: 30px 15px 30px 15px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){
.container {
    width: 750px;
}
.navbar-nav>li {
    float: left;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0;
    margin-left: 0;
}
.navbar-right {
    float: right!important;
    margin-right: -15px;
}
}

