#headcallback {
    /* Style for "Rectangle" */
    width: 213px;
    height: 88px;
    background-color: #a7d60a;
    text-align: center;
}

#bodycallback {
    /* Style for "Rectangle" */
    width: 213px;
    border: 1px solid #d0d0d0;
    background-color: white;
    text-align: center;
}

#bodycallback div {
    text-align: center;
    margin: 10px;

}

#bodycallback a {
    /* Style for "Si vous av" */
    color: #3f3f3f;
    font-size: 10px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
}



#footercallback {
    /* Style for "Rectangle" */
    width: 213px;
    height: 59px;
    background-color: #ecf0f5;
    text-align: center;
}

#phone {
    /* Style for "09 71 00 4" */
    color: #6c8a12;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    /* Text style for "09 71 00 4" */
    letter-spacing: 0.15px;
}

#phoneicon {
    /* Style for "phone (1)" */
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

#headseticon {
    /* Style for "headset (1" */
    width: 72px;
    height: 59px;
    margin-top: 16px;
}

#exit {
    /* Style for "Rectangle" */
    width: 41px;
    height: 41px;
    background-color: #d2f55c;
    text-align: center
}

#exiticon {
    /* Style for "Layer 2" */
    width: 15px;
    height: 15px;
    margin-top: 30%;
}

#footerphone {
    display: inline-grid;
    margin-top: 15px
}
