/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 mars 2019, 16:29:04
    Author     : Ayda
*/

.marginright15{margin-right:15px; }

/*css commandes*/
.invoice {
    border: 0px !important; 
    padding: 0px !important; 

}   
table#detailcmd {
    border: 1px solid rgba(204, 204, 204, .5);
    border-radius: 5px;
}
.table > thead > tr > th, .table > tbody  > tr > td, .table > tbody > tr > th {
    border: 2px solid rgba(204, 204, 204, .5);
    text-align: justify;

}
.table > thead > tr > th, .table > tbody > tr > th {
    background: #ececec;
}
.box{
    box-shadow: 0 0 0 !important;
}

span.detailcartier {
    margin-left: 26px;
}
.btn {
    margin-right: 5px;
}
#plusdetailcmd {
    margin-right: 0px;
    margin-left: 0px;
}
.optioncommande {
    font-size: 13px;
    top: -14px !important;
    position: relative;
}
/*css modal*/
.modal-content {
    border-radius: 5px;
}
.modaldeclarmission{
    margin-left: 20px;
    margin-right: 15px;
    padding-top: 20px;
}
.modal-header {
    border-bottom: 2px solid rgba(191, 185, 185, .5);
    background: rgba(142, 140, 140, 0.1);
}
.modal-title {
    margin: 0;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
}
.modal-header .close {
    margin-top: -26px;
}
label.col-sm-3.control-label {
    font-size: 13px;
    color: #000;
}
textarea {
    resize: none;
}
.divdetail label {
    text-align: center !important;
}
.divdetail .col-sm-10 {
    margin-left: -23px;
    padding-left: 0px;
    padding-right: 0px;
    width: 84%;
}
.swal-overlay {
    background-color: rgba(0, 0, 0, 0.6);

}
.label-default{
    color: #31b0d5;
    margin-top: 7px;
    cursor: pointer;
    font-size: 16px;
}
span.label-default{cursor: alias;}
.table > thead > tr > th, .table > tbody > tr > th {
    background: #ececec;
}
.detailsmission > thead > tr > th {
    background: #93bf32;
}
.imgmp {
    width: 50px;
}
.tablemp > thead > tr > th, .tablemp > tbody > tr > td, .tablemp > tbody > tr > th {
    vertical-align: baseline;
    text-align: center;
}
.tablemp > tbody > tr > td {
    text-align: left;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 2px solid rgba(204, 204, 204, .5);
    border: 1px solid rgba(204, 204, 204, .5);
}
.divdeclarempcmd {
    float: right;
}
.declarempcmd {
    font-size: 1.4em;
    font-weight: 600;
    padding: 10px;
}
.affichedetailmpcmd img {
    display: inline-block;
}
.affichedetailmpcmd .descmpcmd {
    display: inline-block;
}
.btmpcmd{
    width: 95%;
    text-align: left;
    font-size: 1.2em;
    font-weight: 600;
}
button.btmpcmd:hover {
    text-decoration: none;
}
button#btPayChec {
    width: 95%;
    text-align: left;
}
.choixmp .descPay{
    width: 95%;
    font-size: 1.2em;
    font-weight: 600;
}
#btPayChec img {
    display: inline-block;
} 
#btPayChec .descrimpcmd{
    display: inline-block;
}
button.btn.btn-pay {
    background: rgba(0, 139, 139, .5);
    font-size: 1.1em;
    font-weight: 600;
}
.detailtarif {
    font-weight: 700;
}
.lientarif {
    font-size: 1.2em;
    color: #93bf32;
    padding: 7px;
}
i.fa.fa-euro.mp {
    font-size: 1.5em;
    color: #93bf32;
}
button#modifmoyenpayement {
    display: inline-block;
}
button#btPayChec:hover {
    text-decoration: none;
}




/*css respensive modal*/
@media (min-width: 768px) and (max-width: 991px) {
    .divdetail .col-sm-10 {
        margin-left: -23px;
        width: 72%;
        float: right;
        padding-right: 15px;
    }
    .divdetail label {
        text-align: right !important;
        margin-left: 45px;
    } 

}
@media (min-width: 480px) and (max-width: 767px) {
    .divdetail label {
        text-align: left !important;
        width: 100%;
    }
    .divdetail .col-sm-10 {
        margin-left: 0px;
        padding-left: 15px;
        width: 100%;
        float: right;
        padding-right: 15px;
    }
    .table-responsive{
        border: 0px  !important;
    }
    .optioncommande {    top: 5px !important;}
}
@media  (max-width: 479px) {
    .divdetail .col-sm-10 {
        margin-left: 0px;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
    .table-responsive{
        border: 0px  !important;
    }
    .optioncommande {    top: 5px !important;}
}