.box-body {
    width: 100% !important;
    height: 800px!important;
    background-color: white !important;
    display: table;

}

.box-btn {
    width: 50%;
    margin-top: 20px;
}

#btnmprint{
    /* Style for "Rounded Re" */
    width: 360px;
    height: 68px;
    text-align: center;
    border-radius: 3px;
    border-color: #93bf32;
    background-color: #93bf32;
}

#btnmnoprint {
    /* Style for "Rounded Re" */
    width: 410px;
    height: 68px;
    text-align: center;
    border-radius: 3px;
    border-color: #222d32;
    background-color: #222d32;
}

#icontitlelogin {
    /* Style for "login (2)" */
    width: 33px;
    height: 33px;
}

#titleloginpage {
    /* Style for "Espace cli" */
    width: 400px;
    height: 23px;
    color: #1e282c;
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    /* Text style for "Espace cli" */
    letter-spacing: 0.15px;
}
#callback{
    margin: 20px;
}
.left {
    display: table-cell;
    width: 50%;
}

.right {
    display: table-cell;
    white-space: nowrap;
}
.container{
    margin-top: 20px;
}