
.login-box-body {
    border-top: 5px solid #729a17;
    border-radius: 5px;
}

.btn {
    padding: 6px;
}

.login-box-msg, .register-box-msg {
    font-weight: 600;
}

.form-control {
    display: block;
    width: 100%;
    height: 57px !important;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    width: 200px !important;
    padding: 0rem 0 !important;

    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 0px solid rgba(0, 0, 0, .15) !important;
    border-radius: 0rem !important;
    background-color: #efefef !important;
}

.lidrop {

    border-bottom: 0.5px solid #ccc !important;
    padding: 5px;
}

.btndropdow {
    width: 200px !important;
    text-decoration: none;
}

.login-box-body {
    border-top: 0px solid #729a17 !important;
    border-radius: 0px !important;
}

#headercontainer {
    background-image: url("<?= BASE_ASSET; ?>/img/bg_container.png") !important;
    background-repeat: no-repeat;

}

.row {
    padding-top: 30px;
}

#search {
    /* Style for "Rounded Re" */
    height: 28px !important;
    border-radius: 14px;
    border: 1px solid #fbc115;
    background-color: transparent;
    background-image: url("<?= BASE_ASSET; ?>icon/search.png") !important;
    background-repeat: no-repeat;
    padding-left: 30px;

}

headercontainer > p, headercontainer > div {
    color: white;
}

#p1 {
    color: white;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#p2 {
    color: #fbc115;
    font-size: 117px;
    font-weight: 700;
    line-height: 62.55px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

#p3 {
    color: white;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

#services {

    padding-bottom: 30px;
}

.servicesdesc {

    color: white;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    /* Text style for "Personnel" */
    letter-spacing: -0.18px;
    text-align: center;
    margin: auto;
}

.container-fluid {
    background-color: white;
}

.ttitle {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 64.6px;
    /* Text style for "Recettes" */
}

.pizzacard {
    /* Style for "Rectangle" */
    width: 351px;
    height: 388px;
    background-color: #181610;
    opacity: 0.74;
}

.pizzaname {

    padding: 10px 10px 0px 10px;
    color: #fac722;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
}

.pizzadesc {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.btnorder {
    margin: 10px 0px 10px 0px;
    height: 44px;
    width: 40%;
    background-color: #ed1c24;
    border-style: none;
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.btnmycart {
    margin: 10px 0px 10px 0px;
    width: 20%;
    background-color: #fbc115;
    border-style: none;
    color: white;
    font-size: 22px;
    font-weight: 700;
}


.pricediv {
    width: 81px;
    height: 81px;
    background-color: #fac722;
    position: absolute;
    bottom: 71px;
    right: 71px;
    border-radius: 50%;

}


.cartdiv {
    width: 60px;
    height: 60px;
    background-color: #fbc115;
    border-radius: 50%;
    position: fixed;
    bottom: 71px;
    right: 71px;
    cursor: pointer;
}


.totalcart {
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    top: 7px;
    right: 17px;
    border-radius: 50%;
    color: red;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
}

.price {

    color: #ffffff;
    font-size: 33px;
    font-weight: 700;
    line-height: 41.96px;
    text-transform: uppercase;
    letter-spacing: -3.09px;
    padding-top: 16px;
    text-align: center;

}

.qty {
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
    height: 100% !important;

}

.footercard {
    display: inline-flex;
}

.qtydiv {
    padding: 14px;
    display: inline-flex;
}

.input-group-btn {
    width: fit-content;
}

#pmodal {
    font-weight: 400;
    line-height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.carttable {
    font-size: 14px;
    text-align: left;

}

#logoimg {
    width: 100%;
    border-radius: 50%;
}